<%=layout("/layouts/boilerplate.ejs")%>

    <h2 class="pt-4">All Blogs</h2>
    <!-- <form action="/listings/new" method="get">
        <button>New Listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 pt-2">
        <%for(let list of allist){%>
            <a href="/listings/<%=list._id%>" class="listing-link">
            <div class="card col listing-card" >
                <img src="<%=list.image.url%>" class="card-img-top" alt="listing-image" style="height:20rem">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text">
                    <b class=""><%=list.createdAt%></b><br>
                   <b><%=list.title%></b> <br>
                   <p><%=list.description.substring(0,125) +"..."%></p>
                  </p>
                </div>
            </div>
        </a>
        
        <%}%>
    </div>
    
